body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-90deg,#4e04fa 0%, #faf603 100%);
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rutulys {
  border-radius: 800px;
  width: 800px;
  height: 800px;
  margin-top: 100px;
  border: solid 10px;
}

.spauskYellow {
  width: 200px;
  height: 70px;
  margin-left: 300px;
  margin-top: 250px;
  border: solid 1px;
  font-size: 30px;
  text-transform: uppercase;
  background-color: yellow;
}
.spauskGreen{
  width: 200px;
  height: 70px;
  margin-left: 300px;
  margin-top: 20px;
  border: solid 1px;
  font-size: 30px;
  text-transform: uppercase;
  display: block;
  background-color: green;
}
.spauskRed {
  width: 200px;
  height: 70px;
  margin-left: 300px;
  margin-top: 20px;
  border: solid 1px;
  font-size: 30px;
  text-transform: uppercase;
  display: block;
  background-color: red;
}